body{
    width: 100vw;
    height: 100vh;
}
.color-change{
    width: 100%;
    height: 100%;

}
.color-header{
    width: 100%;
    height: 20%;
}
.change{
    height: 80%;
    width: 100%;
   
}
.change-box{
    width: 100%;
    height: 75%;
}
