body{

width:100vw;
height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container-item{
    width: 30%;
}
.container-item-img{
    border: 1px solid #ccc;
    height: 150px;
  
}
.container-item-img img{
    /* 定義するときは必ずimgタグに対して直接指定すること */
    object-fit: fill;
    max-width: 100%;
    width: 100%;/* 必ず幅を定義*/
    height: 150px;/* 必ず高さを定義*/
   
    
}