body{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
}
.detail{
    width: 100%;
    position: relative;
  display: flex;
}
.profile-section{
    width: 50%;
}
.profile{
    width: 50%;
    position: absolute;
    
    font-size: 20px;
   
}
.profile h1{
    padding-left: 15px;
    font-size: 80px;
    font-family: 'Allison', cursive;
}
.main-sentence{
    position: absolute;
    top: 240px;
    font-size: 20px;
    
}
.detail-section{
    width: 30%;
    display: none;
    position: absolute;
    font-size: 15px;
    line-height: 30px;
    top: 120px;
    padding-top:  60px;
    /*padding:0px 50px;*/
   
    padding-left: 150px;
}
.photo{
    margin-top: 100px;
    padding-right: 40px;
    width: 70%;
    height: 533px;
    background-image: url("profile_photo.JPG");
    background-size: cover;
}
.bokashi{
    opacity: 0.3;
}
.detail-close-btn{
    opacity: 0.3;
}
.detail-open-btn{
    opacity: 0.3;  
}

