*{
  padding: 0px;
  margin: 0px;
}
body {
width: 100vw;
height: 100vh;
background-color: black;
}.test1{
  height: 10%;
  width: 100%;
  padding-bottom: 140px
}.test1 h1{
  color: transparent;
  font-weight: bold;
  background-image: url("7ztu.gif");
  text-align: center;
  -webkit-background-clip: text;
  font-size: 100px;
}.test2{
width: 100%;
height: 90%;
display:flex;
padding-top: 30px;
}.img-box{
  width: 50%;
  height: 100%;
  margin: 0 auto;
}.img-box img{
 object-fit: contain;
 width: 100%;
 height: 100%;
 animation-name: changeImage;
 animation-duration: 40s;/* 一周あたり40秒 */
    animation-iteration-count: infinite;
}/*写真の入れ替え */
@keyframes changeImage{
0%{
opacity: 1;
}20%{
  opacity: 0;
}25%{
  opacity: 1;
}40%{
  opacity: 0;
}45%{
  opacity: 1;
  }60%{
  opacity: 0;
}65%{
  opacity: 1;
}80%{
  opacity: 0;
}85%{
  opacity: 1;
}
}








