

body{
    background-image: url("astronomy-ga90191e47_640.jpg");
    background-size: cover;
    
}
.starJudgement{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 270px;
    font-size: 40px;
color: whitesmoke;
text-align: center;
    
}
